* {
    /* Reset box-sizing to border-box for consistency */
    box-sizing: border-box;
}

body {
    background-color: #61a57d;
}

div {
    background-color: #61a57d;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header {
    /* Removed the height property */
    /* Consider using padding instead to maintain the layout */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    /* Consider using padding for vertical spacing */
    padding: 24px 0;
}

/* .button-container {
    display: flex;
    gap: 12px;
    width: 200px;
    justify-content: space-between;
    /* Consider using padding instead of height for the buttons */
/* }  */

#container-logo {
    /* Removed the height property */
    /* Adjust the logo's size with width and padding as needed */
    padding: 10px;
    padding-bottom: 100px;
}

.menu-button {
    width: 200px;
    /* Removed the height property */
    /* Adjust the button's size with padding as needed */
    padding: 10px;
}

.menu-button-05 {
    margin: 0;
    width: 88px;
    /* Removed the height property */
    /* Adjust the button's size with padding as needed */
    padding: 10px;
}

/* TOURNAMENT MENU */

.participant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}

#otpPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background: white;
}
