{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Transcendence" %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="player-info">
            <p class="text-white">{% trans "Logged in as" %} {{ username }}</p>
            <p class="text-white">{% trans "Wins" %}: {{ wins }}</p>
            <p class="text-white">{% trans "Losses" %}: {{ losses }}</p>
        </div>
        <div class="menu-button"></div>
        <!-- Language Switcher Dropdown -->
        <form action="{% url 'set_language' %}" method="post" class="language-switcher">
            {% csrf_token %}
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>Français</option>
                <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
            </select>
        </form>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <img src="{% static 'design/PONG.png' %}" alt="">
        <button class="col-md-12 mt-2 p-3 h-50 w-25 p-3 mb-4 rounded bg-secondary bg-gradient text-white" id="button-play" onclick='load_playMenu()'>{% trans "PLAY" %}</button>
        <button class="col-md-12 mt-2 p-3 h-50 w-25 p-3 mb-4 rounded bg-secondary bg-gradient text-white" onclick='load_tournament_main()'>{% trans "TOURNAMENT" %}</button>
        <button class="col-md-12 mt-2 p-3 h-50 w-25 p-3 mb-4 rounded bg-secondary bg-gradient text-white">{% trans "LEADERBOARD" %}</button>
        <div class="d-flex flex-row w-25 justify-content-center">
            <button class="col-md-12 mt-2 h-25 w-50 p-3 rounded bg-secondary bg-gradient text-white" id="button-login" onclick="load_login()">{% trans "LOGIN" %}</button>
            <button class="col-md-12 mt-2 h-25 w-50 p-3 rounded bg-secondary bg-gradient text-white" id="button-register" onclick="load_register()">{% trans "REGISTER" %}</button>
        </div>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/user_management.js' %}"></script>
    <script src="{% static 'js/token_management.js' %}"></script>
</body>
</html>
