{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>transcendence</title>
</head>
<body>
    <div class="header">
        <p>logged in as PLACEHOLDER</p>
        <div class="menu-button"></div>
    </div>
    <div class="container">
        <div id="container-logo">
            <h1>PONG</h1>
        </div>
        <div>
            <a href="{% url 'play' %}"><button class="menu-button">PLAY</button></a>
        </div>
        <div>
            <button class="menu-button">TOURNAMENT</button>
        </div>
        <div>
            <button class="menu-button">LEADERBOARD</button>
        </div>
        <div class="button-container">
            <button class="menu-button-05">LOGIN</button>
            <button class="menu-button-05">REGISTER</button>
        </div>
    </div>
</body>
</html>