{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>transcendence</title>
</head>
<body>
    <div class="header">
        <div class="player-info">
            <p>logged in as {{ username }}</p>
            <p>wins: {{ wins }}</p>
            <p>losses: {{ losses }}</p>
        </div>
        <div class="menu-button"></div>
    </div>
    <div class="container">
        <div id="container-logo">
            <h1>PONG</h1>
        </div>
        <div>
            <button class="menu-button" id="button-play" onclick='load_playMenu()'>PLAY</button>
        </div>
        <div>
            <button class="menu-button">TOURNAMENT</button>
        </div>
        <div>
            <button class="menu-button">LEADERBOARD</button>
        </div>
        <div class="button-container">
            <button class="menu-button-05" id="button-login" onclick="load_login()">LOGIN</button>
            <button class="menu-button-05" id="button-register" onclick="load_register()">REGISTER</button>
        </div>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/user_management.js' %}"></script>
    <script src="{% static 'js/token_management.js' %}"></script>
</body>
</html>