{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/singleplayer.css' %}">
    <title>transcendence</title>
</head>
<body>
    <div class="header">
        <p>logged in as PLACEHOLDER</p>
        <a href="{% url 'play' %}"><button class="menu-button">BACK</button></a>
    </div>
    <div class="container">
        <div class="players">
            <div class="player1">
                <form action="">
                    <div>
                        <label for="player1">username</label>
                        <input type="text" id="player1">
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password">  
                    </div>
                    <button class="menu-button">Submit</button>
                </form>
            </div>
            <div class="player2">
                <form action="">
                    <div>
                        <label for="player2">username</label>
                        <input type="text" id="player2">
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password">  
                    </div>
                    <button class="menu-button">Submit</button>
                </form>
            </div>
        </div>
        <a href="{% url 'game_single' %}"><button class="menu-button">PLAY</button></a>
    </div>
</body>
</html>